# Ejercicio Analitica de Datos

#### Instalaremos e importaremos librerias necesarias

In [6]:
#%pip install pandas 
#%pip install matplotlib
#%pip install numpy
#%pip install seaborn

In [7]:
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### Explicacion funcionamiento de las librerias

###### Pandas: Para manipulación y análisis de datos.
###### NumPy: Para operaciones numéricas.
###### Matplotlib: Para crear visualizaciones estáticas.
###### Seaborn: Para crear visualizaciones más estéticas y complejas.

### Cargamos el archivo de datos

In [8]:
df= pd.read_csv('./data/Ciudadan_a_Digital_20241110.csv', encoding='UTF-8')
df

,TIPO DE DOCUMENTO,DOCUMENTO,NOMBRES,APELLIDOS,EMAIL,CELULAR,TELEFONO,DEPARTAMENTO NACIMIENTO,CIUDAD DE NACIMIENTO,DEPARTAME_NOMBRE,...,VIRTUAL,ID INDICADOR,FechaCorte,FECHA VIGENCIA,META,INVERSION,MUNICIPIO_COD,DEPARTAME_COD,CODIGO DEPARTAMENTO NACIMIENTO,CODIGO MUNICIPIO NACIMIENTO
0,CC,False,MONICA PATRICIA,ORTIZ CASTAÑEDA,False,False,False,BOGOTA D. C.,BOGOTA D.C.,ANTIOQUIA,...,1,4783,2017-12-31,2017-12-31,432000,NaN,5034,NaN,NaN,NaN
1,Cedula de Ciudadania,False,Nuria,Lozano Casas,False,False,False,NaN,NaN,Meta,...,0,3987,2012-12-31,2012-12-31,1000,",00",50001,NaN,NaN,NaN
2,Cedula de Ciudadania,False,Sonia,Soto Cespedes,False,False,False,NaN,NaN,Casanare,...,0,3987,2012-12-31,2012-12-31,1000,",00",85139,NaN,NaN,NaN
3,Tarjeta de Identidad,False,Dahiana,Salazar D�az,False,False,False,NaN,NaN,NaN,...,0,3987,2014-12-31,2014-12-31,1000,",00",66682,NaN,NaN,NaN
4,Cedula de Ciudadania,False,BEATRIZ ELENA,FLOREZ MAZO,False,False,False,NaN,NaN,Antioquia,...,0,3987,2012-12-31,2012-12-31,1000,",00",5212,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058344,Cedula de Ciudadania,False,fabio antonio,contreras oviedo,False,False,False,NaN,NaN,C�rdoba,...,0,3987,2013-12-31,2013-12-31,1000,",00",66687,NaN,NaN,NaN
1058345,Cedula de Ciudadania,False,MARIO ALFONSO,NaN,False,False,False,NaN,NaN,Cesar,...,0,3987,2013-12-31,2013-12-31,1000,",00",20750,NaN,NaN,NaN
1058346,CC,False,KENYA SOLID,OSORIO RODRIGUEZ,False,False,False,BOGOTA D. C.,BOGOTA D.C.,BOGOTA D. C.,...,21,4783,2017-12-31,2017-12-31,432000,NaN,11001,NaN,NaN,NaN
1058347,TI,False,NELSON ALEJANDRO,ALZATE LOPEZ,False,False,False,NaN,NaN,CALDAS,...,0,6632,2019-12-31,2019-12-31,0,",00",17662,NaN,NaN,NaN
1058348,Cedula de Ciudadania,False,CRISTHIAN MATEO,NaN,False,False,False,NaN,NaN,Caquet�,...,0,3987,2013-12-31,2013-12-31,1000,",00",47551,NaN,NaN,NaN

### Impresion de los datos

In [9]:
# primeros 5 registro del archivo de data Frame
df.head(5)

,TIPO DE DOCUMENTO,DOCUMENTO,NOMBRES,APELLIDOS,EMAIL,CELULAR,TELEFONO,DEPARTAMENTO NACIMIENTO,CIUDAD DE NACIMIENTO,DEPARTAME_NOMBRE,...,VIRTUAL,ID INDICADOR,FechaCorte,FECHA VIGENCIA,META,INVERSION,MUNICIPIO_COD,DEPARTAME_COD,CODIGO DEPARTAMENTO NACIMIENTO,CODIGO MUNICIPIO NACIMIENTO
0,CC,False,MONICA PATRICIA,ORTIZ CASTAÑEDA,False,False,False,BOGOTA D. C.,BOGOTA D.C.,ANTIOQUIA,...,1,4783,2017-12-31,2017-12-31,432000,NaN,5034,NaN,NaN,NaN
1,Cedula de Ciudadania,False,Nuria,Lozano Casas,False,False,False,NaN,NaN,Meta,...,0,3987,2012-12-31,2012-12-31,1000,",00",50001,NaN,NaN,NaN
2,Cedula de Ciudadania,False,Sonia,Soto Cespedes,False,False,False,NaN,NaN,Casanare,...,0,3987,2012-12-31,2012-12-31,1000,",00",85139,NaN,NaN,NaN
3,Tarjeta de Identidad,False,Dahiana,Salazar D�az,False,False,False,NaN,NaN,NaN,...,0,3987,2014-12-31,2014-12-31,1000,",00",66682,NaN,NaN,NaN
4,Cedula de Ciudadania,False,BEATRIZ ELENA,FLOREZ MAZO,False,False,False,NaN,NaN,Antioquia,...,0,3987,2012-12-31,2012-12-31,1000,",00",5212,NaN,NaN,NaN

In [10]:
### ultimos 5 registro del archivo de data Frame
df.tail(5)

,TIPO DE DOCUMENTO,DOCUMENTO,NOMBRES,APELLIDOS,EMAIL,CELULAR,TELEFONO,DEPARTAMENTO NACIMIENTO,CIUDAD DE NACIMIENTO,DEPARTAME_NOMBRE,...,VIRTUAL,ID INDICADOR,FechaCorte,FECHA VIGENCIA,META,INVERSION,MUNICIPIO_COD,DEPARTAME_COD,CODIGO DEPARTAMENTO NACIMIENTO,CODIGO MUNICIPIO NACIMIENTO
1058344,Cedula de Ciudadania,False,fabio antonio,contreras oviedo,False,False,False,NaN,NaN,C�rdoba,...,0,3987,2013-12-31,2013-12-31,1000,",00",66687,NaN,NaN,NaN
1058345,Cedula de Ciudadania,False,MARIO ALFONSO,NaN,False,False,False,NaN,NaN,Cesar,...,0,3987,2013-12-31,2013-12-31,1000,",00",20750,NaN,NaN,NaN
1058346,CC,False,KENYA SOLID,OSORIO RODRIGUEZ,False,False,False,BOGOTA D. C.,BOGOTA D.C.,BOGOTA D. C.,...,21,4783,2017-12-31,2017-12-31,432000,NaN,11001,NaN,NaN,NaN
1058347,TI,False,NELSON ALEJANDRO,ALZATE LOPEZ,False,False,False,NaN,NaN,CALDAS,...,0,6632,2019-12-31,2019-12-31,0,",00",17662,NaN,NaN,NaN
1058348,Cedula de Ciudadania,False,CRISTHIAN MATEO,NaN,False,False,False,NaN,NaN,Caquet�,...,0,3987,2013-12-31,2013-12-31,1000,",00",47551,NaN,NaN,NaN

In [11]:
### 5 registros del archivo de data Frame aleatoriamente (cualquier posicion)
df.sample(5)

,TIPO DE DOCUMENTO,DOCUMENTO,NOMBRES,APELLIDOS,EMAIL,CELULAR,TELEFONO,DEPARTAMENTO NACIMIENTO,CIUDAD DE NACIMIENTO,DEPARTAME_NOMBRE,...,VIRTUAL,ID INDICADOR,FechaCorte,FECHA VIGENCIA,META,INVERSION,MUNICIPIO_COD,DEPARTAME_COD,CODIGO DEPARTAMENTO NACIMIENTO,CODIGO MUNICIPIO NACIMIENTO
345189,Cedula de Ciudadania,False,NOHORA ISABEL,HERNANDEZ CASTRO,False,False,False,NaN,NaN,Bogot� D.C.,...,0,3987,2013-12-31,2013-12-31,1000,",00",11001,NaN,NaN,NaN
943229,Cedula de Ciudadania,False,Sandra Milena,Chavez Aguilera,False,False,False,NaN,NaN,Meta,...,0,3987,2012-12-31,2012-12-31,1000,",00",50001,NaN,NaN,NaN
699956,CC,False,Lady,Jhohanna Arces,False,False,False,VALLE DEL CAUCA,CALI,VALLE DEL CAUCA,...,0,4783,2017-12-31,2017-12-31,432000,NaN,76001,NaN,NaN,NaN
691287,CC,False,NELSON,NARVAEZ GOMEZ,False,False,False,CORDOBA,MONTERIA,CORDOBA,...,3,4783,2017-12-31,2017-12-31,432000,NaN,23001,NaN,NaN,NaN
874401,Cedula de Ciudadania,False,Jhon Jaime,NaN,False,False,False,NaN,NaN,Bol�var,...,0,3987,2013-12-31,2013-12-31,1000,",00",5380,NaN,NaN,NaN

### Exploracion inicial reconociemiento de la Data Frame

In [12]:
### Escribe con detalles la informacion del data

print(f"Cantidad de filas: {len(df)}")
print(f"Dimensiones: {df.shape}")
print(f"Cantidad de valores: {df.size}")
print("Columnas: \n", *df.columns + '\n')

Cantidad de filas: 1058349
Dimensiones: (1058349, 49)
Cantidad de valores: 51859101
Columnas:
 TIPO DE DOCUMENTO
 DOCUMENTO
 NOMBRES
 APELLIDOS
 EMAIL
 CELULAR
 TELEFONO
 DEPARTAMENTO NACIMIENTO
 CIUDAD DE NACIMIENTO
 DEPARTAME_NOMBRE
 MUNICIPIO_NOMBRE
 DIRECCION
 NIVEL EDUCATIVO
 SECTOR
 ESTRATO
 FECHA DE NACIMIENTO
 EDAD
 EDAD 2
 GENERO
 DISCAPACIDAD
 ALIADO
 SECTOR ECONOMICO
 OCUPACION
 FECHA DE REGISTRO
 COMUNIDAD ETNICA
 F TICS
 DINAMIZADOR
 POBREZA
 CABEZA DE HOGAR
 VICTIMA DE VIOLENCIA
 VICTIMA INVIERNO
 LGBTI
 VIVIENDA FRONTERIZA
 SITUACION DE CALLE
 DESPLAZADO
 DESMOVILIZADO REINSERTADO
 CERTIFICACIONES
 TIPO
 PRESENCIAL
 VIRTUAL
 ID INDICADOR
 FechaCorte
 FECHA VIGENCIA
 META
 INVERSION
 MUNICIPIO_COD
 DEPARTAME_COD
 CODIGO DEPARTAMENTO NACIMIENTO
 CODIGO MUNICIPIO NACIMIENTO

### Conteo de valores nulos o vacios

In [13]:
### conteo de valores null por columna
conteo_nulos = df.isnull().sum()
print(conteo_nulos)

TIPO DE DOCUMENTO                       0
DOCUMENTO                               0
NOMBRES                                 4
APELLIDOS                          158149
EMAIL                                   0
CELULAR                                 0
TELEFONO                                0
DEPARTAMENTO NACIMIENTO            772946
CIUDAD DE NACIMIENTO               772946
DEPARTAME_NOMBRE                   204766
MUNICIPIO_NOMBRE                    26665
DIRECCION                               0
NIVEL EDUCATIVO                         0
SECTOR                             540908
ESTRATO                                 0
FECHA DE NACIMIENTO                556002
EDAD                               580971
EDAD 2                            1058349
GENERO                             151516
DISCAPACIDAD                            0
ALIADO                             795355
SECTOR ECONOMICO                   612671
OCUPACION                          376757
FECHA DE REGISTRO                  731805
COMUNIDAD ETNICA                   512307
F TICS                                  0
DINAMIZADOR                        845392
POBREZA                                 0
CABEZA DE HOGAR                         0
VICTIMA DE VIOLENCIA                    0
VICTIMA INVIERNO                        0
LGBTI                                   0
VIVIENDA FRONTERIZA                     0
SITUACION DE CALLE                      0
DESPLAZADO                              0
DESMOVILIZADO REINSERTADO               0
CERTIFICACIONES                         0
TIPO                               995828
PRESENCIAL                              0
VIRTUAL                                 0
ID INDICADOR                            0
FechaCorte                              0
FECHA VIGENCIA                          0
META                                    0
INVERSION                          262993
MUNICIPIO_COD                           0
DEPARTAME_COD                     1058349
CODIGO DEPARTAMENTO NACIMIENTO    1058349
CODIGO MUNICIPIO NACIMIENTO       1058349
dtype: int64

### Valores almacenados por columnas (int, object, float...)

In [14]:
# Al iterar un df se obtienen los nombres de las columnas 
for columna in df:
    #una forma de acceder a las columnas es usarlo como dic
    datos_columna = df[columna]
    # Cantidad de valores unicos
    distintos = datos_columna.nunique()

    print(f"La columna {columna} tienes {distintos} valores diferentes.")

La columna TIPO DE DOCUMENTO tienes 13 valores diferentes.
La columna DOCUMENTO tienes 1 valores diferentes.
La columna NOMBRES tienes 359937 valores diferentes.
La columna APELLIDOS tienes 438148 valores diferentes.
La columna EMAIL tienes 1 valores diferentes.
La columna CELULAR tienes 2 valores diferentes.
La columna TELEFONO tienes 2 valores diferentes.
La columna DEPARTAMENTO NACIMIENTO tienes 35 valores diferentes.
La columna CIUDAD DE NACIMIENTO tienes 1010 valores diferentes.
La columna DEPARTAME_NOMBRE tienes 75 valores diferentes.
La columna MUNICIPIO_NOMBRE tienes 1505 valores diferentes.
La columna DIRECCION tienes 2 valores diferentes.
La columna NIVEL EDUCATIVO tienes 13 valores diferentes.
La columna SECTOR tienes 7 valores diferentes.
La columna ESTRATO tienes 8 valores diferentes.
La columna FECHA DE NACIMIENTO tienes 23867 valores diferentes.
La columna EDAD tienes 173 valores diferentes.
La columna EDAD 2 tienes 0 valores diferentes.
La columna GENERO tienes 4 valores diferentes.
La columna DISCAPACIDAD tienes 10 valores diferentes.
La columna ALIADO tienes 271 valores diferentes.
La columna SECTOR ECONOMICO tienes 1864 valores diferentes.
La columna OCUPACION tienes 6266 valores diferentes.
La columna FECHA DE REGISTRO tienes 937 valores diferentes.
La columna COMUNIDAD ETNICA tienes 21 valores diferentes.
La columna F TICS tienes 2 valores diferentes.
La columna DINAMIZADOR tienes 120 valores diferentes.
La columna POBREZA tienes 2 valores diferentes.
La columna CABEZA DE HOGAR tienes 2 valores diferentes.
La columna VICTIMA DE VIOLENCIA tienes 2 valores diferentes.
La columna VICTIMA INVIERNO tienes 2 valores diferentes.
La columna LGBTI tienes 2 valores diferentes.
La columna VIVIENDA FRONTERIZA tienes 2 valores diferentes.
La columna SITUACION DE CALLE tienes 2 valores diferentes.
La columna DESPLAZADO tienes 2 valores diferentes.
La columna DESMOVILIZADO REINSERTADO tienes 2 valores diferentes.
La columna CERTIFICACIONES tienes 1 valores diferentes.
La columna TIPO tienes 3 valores diferentes.
La columna PRESENCIAL tienes 2 valores diferentes.
La columna VIRTUAL tienes 35 valores diferentes.
La columna ID INDICADOR tienes 4 valores diferentes.
La columna FechaCorte tienes 8 valores diferentes.
La columna FECHA VIGENCIA tienes 8 valores diferentes.
La columna META tienes 4 valores diferentes.
La columna INVERSION tienes 7 valores diferentes.
La columna MUNICIPIO_COD tienes 1121 valores diferentes.
La columna DEPARTAME_COD tienes 0 valores diferentes.
La columna CODIGO DEPARTAMENTO NACIMIENTO tienes 0 valores diferentes.
La columna CODIGO MUNICIPIO NACIMIENTO tienes 0 valores diferentes.

### Eliminacion de Columnas irrelevantes en el data

#### Eliminacion de columnas con al menos un valor nulo

In [15]:
df_sin_nulos = df.dropna(axis=1)

#### Eliminacion de columnas que tienen todos los valores vacios

In [16]:
df_sin_nulos_totales = df.dropna(axis=1, how='all')

In [17]:
conteo_nulos = df_sin_nulos_totales.isnull().sum()
print(conteo_nulos)

TIPO DE DOCUMENTO                 0
DOCUMENTO                         0
NOMBRES                           4
APELLIDOS                    158149
EMAIL                             0
CELULAR                           0
TELEFONO                          0
DEPARTAMENTO NACIMIENTO      772946
CIUDAD DE NACIMIENTO         772946
DEPARTAME_NOMBRE             204766
MUNICIPIO_NOMBRE              26665
DIRECCION                         0
NIVEL EDUCATIVO                   0
SECTOR                       540908
ESTRATO                           0
FECHA DE NACIMIENTO          556002
EDAD                         580971
GENERO                       151516
DISCAPACIDAD                      0
ALIADO                       795355
SECTOR ECONOMICO             612671
OCUPACION                    376757
FECHA DE REGISTRO            731805
COMUNIDAD ETNICA             512307
F TICS                            0
DINAMIZADOR                  845392
POBREZA                           0
CABEZA DE HOGAR                   0
VICTIMA DE VIOLENCIA              0
VICTIMA INVIERNO                  0
LGBTI                             0
VIVIENDA FRONTERIZA               0
SITUACION DE CALLE                0
DESPLAZADO                        0
DESMOVILIZADO REINSERTADO         0
CERTIFICACIONES                   0
TIPO                         995828
PRESENCIAL                        0
VIRTUAL                           0
ID INDICADOR                      0
FechaCorte                        0
FECHA VIGENCIA                    0
META                              0
INVERSION                    262993
MUNICIPIO_COD                     0
dtype: int64

#### Conteo de valores nulos por columna

In [18]:
conteo_nulos = df_sin_nulos.isnull().sum()
print(conteo_nulos)

TIPO DE DOCUMENTO            0
DOCUMENTO                    0
EMAIL                        0
CELULAR                      0
TELEFONO                     0
DIRECCION                    0
NIVEL EDUCATIVO              0
ESTRATO                      0
DISCAPACIDAD                 0
F TICS                       0
POBREZA                      0
CABEZA DE HOGAR              0
VICTIMA DE VIOLENCIA         0
VICTIMA INVIERNO             0
LGBTI                        0
VIVIENDA FRONTERIZA          0
SITUACION DE CALLE           0
DESPLAZADO                   0
DESMOVILIZADO REINSERTADO    0
CERTIFICACIONES              0
PRESENCIAL                   0
VIRTUAL                      0
ID INDICADOR                 0
FechaCorte                   0
FECHA VIGENCIA               0
META                         0
MUNICIPIO_COD                0
dtype: int64

#### Eliminar Columnas por alto % de datos nulos

In [19]:
limite = len(df)* 0.7
df_sin_muchos_nulos = df.dropna(axis=1, thresh=limite)

In [20]:
conteo_nulos = df_sin_muchos_nulos.isnull().sum()
print(conteo_nulos)

TIPO DE DOCUMENTO                 0
DOCUMENTO                         0
NOMBRES                           4
APELLIDOS                    158149
EMAIL                             0
CELULAR                           0
TELEFONO                          0
DEPARTAME_NOMBRE             204766
MUNICIPIO_NOMBRE              26665
DIRECCION                         0
NIVEL EDUCATIVO                   0
ESTRATO                           0
GENERO                       151516
DISCAPACIDAD                      0
F TICS                            0
POBREZA                           0
CABEZA DE HOGAR                   0
VICTIMA DE VIOLENCIA              0
VICTIMA INVIERNO                  0
LGBTI                             0
VIVIENDA FRONTERIZA               0
SITUACION DE CALLE                0
DESPLAZADO                        0
DESMOVILIZADO REINSERTADO         0
CERTIFICACIONES                   0
PRESENCIAL                        0
VIRTUAL                           0
ID INDICADOR                      0
FechaCorte                        0
FECHA VIGENCIA                    0
META                              0
INVERSION                    262993
MUNICIPIO_COD                     0
dtype: int64

#### Se selecciona el mejor metodo para eliminacion en este caso

In [21]:
df = df_sin_muchos_nulos

In [22]:
### Revisamos la inf de la data frame para visualizar cambios

print(f"Cantidad de filas: {len(df)}")
print(f"Dimensiones: {df.shape}")
print(f"Cantidad de valores: {df.size}")
print("Columnas: \n", *df.columns + '\n')

Cantidad de filas: 1058349
Dimensiones: (1058349, 33)
Cantidad de valores: 34925517
Columnas:
 TIPO DE DOCUMENTO
 DOCUMENTO
 NOMBRES
 APELLIDOS
 EMAIL
 CELULAR
 TELEFONO
 DEPARTAME_NOMBRE
 MUNICIPIO_NOMBRE
 DIRECCION
 NIVEL EDUCATIVO
 ESTRATO
 GENERO
 DISCAPACIDAD
 F TICS
 POBREZA
 CABEZA DE HOGAR
 VICTIMA DE VIOLENCIA
 VICTIMA INVIERNO
 LGBTI
 VIVIENDA FRONTERIZA
 SITUACION DE CALLE
 DESPLAZADO
 DESMOVILIZADO REINSERTADO
 CERTIFICACIONES
 PRESENCIAL
 VIRTUAL
 ID INDICADOR
 FechaCorte
 FECHA VIGENCIA
 META
 INVERSION
 MUNICIPIO_COD

###  Identificamos datos sucios o inconsistentes

###### Datos inconsistentes: Esta es una denominación general que abarca cualquier tipo de dato que no sigue un patrón uniforme o que no coincide con otros datos relacionados.

###### Datos sucios: Se refiere a datos que contienen errores, inconsistencias o valores faltantes, lo que dificulta su análisis.

In [23]:
columna = 'TIPO DE DOCUMENTO'
print(f"Valores distintos de la columna {columna}: {df[columna].unique()}.")

Valores distintos de la columna TIPO DE DOCUMENTO: ['CC' 'Cedula de Ciudadania' 'Tarjeta de Identidad' 'TI'
 'C�dula de Ciudadan�a' 'Cedula de ciudadani�a' 'NUIP'
 'C�dula de ciudadan�a' 'PA' 'No registra' 'NIT' 'CE'
 'C�dula de Extranjer�a'].

#### Limpieza de datos a la columna Tipo de doc

In [24]:
mapping ={
    'CC' :'Cédula de Ciudadanía',
    'Cedula de Ciudadania' : 'Cédula de Ciudadanía',
    'C�dula de Ciudadan�a' : 'Cédula de Ciudadanía',
    'C�dula de ciudadan�a' : 'Cédula de Ciudadanía',
    'Tarjeta de Identidad' : 'Tarjeta de Identidad',
    'TI': 'Tarjeta de Identidad',
    'NUIP' : 'Otro',
    'PA' : 'Pasaporte',
    'NIT': 'Numero de Identificacion Tributaria',
    'CE' : 'Carnet de Extranjeria',
    'C�dula de Extranjer�a' : 'Cedula de Extranjeria',
    'No registra' : 'Sin Informacion'
}

#### APlicacion del Mapeo

In [25]:
df['TIPO DE DOCUMENTO'] = df['TIPO DE DOCUMENTO'].map(mapping)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_12100\929020979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIPO DE DOCUMENTO'] = df['TIPO DE DOCUMENTO'].map(mapping)

#### Revision de Cambios

In [26]:
columna = 'TIPO DE DOCUMENTO'
print(f"Valores distintos de la columna {columna}: {df[columna].unique()}.")

Valores distintos de la columna TIPO DE DOCUMENTO: ['Cédula de Ciudadanía' 'Tarjeta de Identidad' nan 'Otro' 'Pasaporte'
 'Sin Informacion' 'Numero de Identificacion Tributaria'
 'Carnet de Extranjeria' 'Cedula de Extranjeria'].

In [30]:
df['TIPO DE DOCUMENTO']

0          Cédula de Ciudadanía
1          Cédula de Ciudadanía
2          Cédula de Ciudadanía
3          Tarjeta de Identidad
4          Cédula de Ciudadanía
                   ...
1058344    Cédula de Ciudadanía
1058345    Cédula de Ciudadanía
1058346    Cédula de Ciudadanía
1058347    Tarjeta de Identidad
1058348    Cédula de Ciudadanía
Name: TIPO DE DOCUMENTO, Length: 1058349, dtype: object

### Metodo df.info()
###### En pandas proporciona un resumen detallado del DataFrame.

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058349 entries, 0 to 1058348
Data columns (total 33 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   TIPO DE DOCUMENTO          1035940 non-null  object
 1   DOCUMENTO                  1058349 non-null  bool
 2   NOMBRES                    1058345 non-null  object
 3   APELLIDOS                  900200 non-null   object
 4   EMAIL                      1058349 non-null  bool
 5   CELULAR                    1058349 non-null  bool
 6   TELEFONO                   1058349 non-null  bool
 7   DEPARTAME_NOMBRE           853583 non-null   object
 8   MUNICIPIO_NOMBRE           1031684 non-null  object
 9   DIRECCION                  1058349 non-null  bool
 10  NIVEL EDUCATIVO            1058349 non-null  object
 11  ESTRATO                    1058349 non-null  object
 12  GENERO                     906833 non-null   object
 13  DISCAPACIDAD               1058349 non-null  object
 14  F TICS                     1058349 non-null  int64
 15  POBREZA                    1058349 non-null  int64
 16  CABEZA DE HOGAR            1058349 non-null  int64
 17  VICTIMA DE VIOLENCIA       1058349 non-null  int64
 18  VICTIMA INVIERNO           1058349 non-null  int64
 19  LGBTI                      1058349 non-null  int64
 20  VIVIENDA FRONTERIZA        1058349 non-null  int64
 21  SITUACION DE CALLE         1058349 non-null  int64
 22  DESPLAZADO                 1058349 non-null  int64
 23  DESMOVILIZADO REINSERTADO  1058349 non-null  int64
 24  CERTIFICACIONES            1058349 non-null  bool
 25  PRESENCIAL                 1058349 non-null  int64
 26  VIRTUAL                    1058349 non-null  int64
 27  ID INDICADOR               1058349 non-null  int64
 28  FechaCorte                 1058349 non-null  object
 29  FECHA VIGENCIA             1058349 non-null  object
 30  META                       1058349 non-null  int64
 31  INVERSION                  795356 non-null   object
 32  MUNICIPIO_COD              1058349 non-null  int64
dtypes: bool(6), int64(15), object(12)
memory usage: 224.1+ MB